@import "bootstrap_variables";

// Fonts
$font-size-root: 18px;

// Colors
// Transitions
$transition-default: all 190ms ease;

// Icons
$icomoon-font-path: "/fonts" !default;
$icon-chevron-down: "\e908";
$icon-instagram: "\e900";
$icon-level-down: "\e901";
$icon-linkedin: "\e902";
$icon-times: "\e903";
$icon-twitter-square: "\e904";
$icon-facebook-square: "\e905";
$icon-bars: "\e906";
$icon-arrow-down: "\e907";
