<footer class="section section--dark">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between mb-4">
                <div class="font-weight-500">Based in Aarhus, Denmark</div>
                <div>
                    <a href="/">
                        <img class="brand-logo" src="/img/unchained-logo.svg" alt="Unchained">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-end mt-3">
                <div>
                    <div><a href="mailto:hello@unchained.studio" class="text-primary underlined">hello@unchained.studio</a>
                    </div>
                    <div>+45 91 88 88 27</div>
                </div>
                <% include socials %>
            </div>
        </div>
    </div>
</footer>
