<section class="section section--pink">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="h1">
                    Let's talk.
                </h2>
                <a href="/contact" class="btn btn-outline-secondary">Get in touch</a>
            </div>
        </div>
    </div>
</section>
