<div class="menu-overlay section section--vertical-center section--dark">
    <div class="container">
        <div class="row">
            <nav class="col-12 d-flex flex-column align-items-end">
                <a href="/who-we-are" class="nav-link h1 m-0 d-block hover-primary">
                    Who we are
                </a>
                <a href="/what-we-do" class="nav-link h1 m-0 d-block hover-primary">
                    What we do
                </a>
                <a href="/portfolio" class="nav-link h1 m-0 d-block hover-primary">
                    Portfolio
                </a>
                <a href="/contact" class="nav-link h1 m-0 d-block hover-primary">
                    Get in touch
                </a>
            </nav>
        </div>
    </div>
    <div class="container section__container--bottom-right d-flex justify-content-between align-items-end">
        <div>
            <div class="font-weight-500">Based in Aarhus, Denmark</div>
            <div><a href="mailto:hello@unchained.studio" class="text-primary underlined">hello@unchained.studio</a></div>
            <div>+45 91 88 88 27</div>
        </div>
        <% include socials %>
    </div>
</div>
