<div class="socials">
    <a href="/fokume" class="ml-3"><i class="icon fab fa-facebook"></i></a>
    <a href="/fokume" class="ml-3"><i class="icon fab fa-instagram"></i></a>
    <a href="/fokume" class="ml-3"><i class="icon fab fa-twitter"></i></a>
    <a href="/fokume" class="ml-3"><i class="icon fab fa-linkedin"></i></a>
</div>
