.btn {
  cursor: pointer;
  transition: 0.2s all;

  &-primary {
    border-color: transparent !important;

    &:hover,
    &:active {
      background-color: #fff !important;
      color: theme-color("primary") !important;
    }
  }

  &-outline {
    &-secondary {
      &:hover,
      &:active {
        background-color: transparent !important;
        color: theme-color("primary") !important;
      }
    }
  }
}
