.btn {
  cursor: pointer;
  transition: $transition-default;

  &-primary {
    border-color: transparent !important;

    &:hover,
    &:active {
      background-color: #fff !important;
      color: theme-color("primary") !important;
    }

    &--hover-outline {
      &:hover {
        border: 2px solid theme-color('primary') !important;
      }
    }
  }

  &-outline {
    &-secondary {
      &:hover,
      &:active {
        background-color: #fff !important;
        color: theme-color("primary") !important;
      }
    }
  }
}
