footer {
  .footer-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    @include media-breakpoint-down(xs) {
      align-items: center;
      flex-flow: column;
      text-align: center;
    }
  }
}
