.navbar {
  .page-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .menu-toggle {
    text-decoration: none;

    .on,
    .off {
      align-items: center;
      .h2{
        line-height: $h2-font-size;
      }
    }

    .on {
      display: none;
    }

    .off {
      display: inline-flex;
    }

    &.open {
      .on {
        display: inline-flex;
      }

      .off {
        display: none;
      }
    }
  }
}
