$animation-duration: 0.2s;
.menu-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  min-height: 32rem;
  overflow: auto;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  display: flex;
  background: theme-color("darkblue");
  padding-bottom: 6rem;
  padding-top: 6rem;
  transition: opacity $animation-duration, visibility 0s $animation-duration;

  &.visible {
    transition: opacity $animation-duration;
    visibility: visible;
    z-index: 999; // has to be below navbar (z-index: 1030)
    opacity: 1;
  }

  .nav-link {
    padding-left: 0;
    padding-right: 0;
  }
}
