.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;

  &--dark {
    background: theme-color("darkblue");
    color: #fff;
  }

  &--pink {
    background: theme-color("primary");
    color: #fff;
  }

  &--statement {
    @extend .section--dark;

    height: 100vh;
    @include media-breakpoint-up(md) {
      height: calc(100vh - #{$h1-font-size + 5rem});
    }
  }

  &--fullscreen {
    flex: 1 0 auto;
  }

  &--vertical-center {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  &__container--bottom-right {
    left: 50%;
    position: absolute;
    bottom: 2rem;
    transform: translateX(-50%);
  }
}
