.section {
  &--statement {
    background: theme-color("darkblue");
    color: #fff;
    height: 100vh;

    @include media-breakpoint-up(md) {
      height: calc(100vh - #{$h1-font-size + 5rem});
    }
  }
}
