/**
*   Global classes
**/

/**
*   General page styles
**/

html {
  font-size: $font-size-root;
}

body {
  position: relative;
  font-family: 'AvenirNextLTPro';
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
  color: inherit;

  &:hover,
  &:focus {
    color: inherit;
  }
}

.brand-logo{
  height: 22px;
}
