/**
*   Global classes
**/

/**
*   General page styles
**/

html {
  font-size: 18px;
}

body {
  font-family: 'AvenirNextLTPro';
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    color: inherit;
  }
}
