/**
*   Global classes
**/

/**
*   General page styles
**/

html {
  font-size: $font-size-root;
}

body {
  position: relative;
  font-family: 'AvenirNextLTPro';
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
  color: inherit;

  &:hover,
  &:focus {
    color: inherit;
  }

  &.hover-primary {
    &:hover {
      color: theme-color("primary") !important;
    }
  }

  &.underlined {
    text-decoration: underline !important;
  }
}

.font-weight-500 {
  font-weight: 500;
}

.icon {
  font-size: $h3-font-size;
  transition: $transition-default;

  &:hover {
    color: theme-color('primary');
  }

  &-lg {
    font-size: $h2-font-size;
  }
}

.brand-logo {
  height: 22px;
}

.shifted-gallery {
  > .col-4:last-of-type {
    margin-top: rem(185px);
  }
}
