<section class="section section--fullscreen section--dark section--vertical-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <span class="h1 d-block">
                    <!--Need a web development team <br class="d-none d-lg-inline">-->
                    <!--that works just as your own?-->
                    Kalousek je turista, <br> ale ve Vietnamu nebyl.
                </span>
                <p class="mb-4">
                    We are all about becoming part of your team and creating <br class="d-none d-sm-inline">
                    web solutions using aspiring web technologies.
                </p>
                <div>
                    <a href="/portfolio" class="btn btn-outline-secondary mr-3 mr-sm-4">Portfolio</a>
                    <a href="/what-we-do" class="btn btn-primary">What we do</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container section__container--bottom-right d-none d-sm-flex justify-content-end">
        <% include components/socials %>
    </div>
</section>
