<section class="section section--statement">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="btn btn-primary">čus hošku</div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="h1">Prcat</h2>
            </div>
        </div>
    </div>
</section>
