<section class="section section--fullscreen section--dark">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="btn btn-primary">čus hošku</div>
            </div>
        </div>
    </div>
</section>
