<section class="section section--statement section--vertical-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <span class="h1 d-block">See how we’ve <br> helped others</span>
            </div>
        </div>
    </div>
    <div class="container section__container--bottom-right">
        <div class="row d-flex justify-content-end">
            <a href="#" class="btn-scroll-down">
                <i class="icon icon-lg fas fa-arrow-down"></i>
            </a>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-4 offset-1">
                <div class="d-flex flex-column align-items-start justify-content-between reference">
                    <div class="description">
                        <h2 class="h1">Pavel Telicka</h2>
                        <p>
                            Pavel Telicka is married with two children. He is keen on sports; rugby, fitness, cross-country skiing
                            and biking. Apart from his personal life, he’s also the vice-president of the European Parliament.
                        </p>
                    </div>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
            <div class="col-4 offset-2">
                <%- responsiveImage('/img/square.jpg', 'Pink square placeholder', '', '', 'class="img-fluid"') %>
            </div>
        </div>
    </div>
</section>
<section class="section section--dark">
    <div class="container">
        <div class="row">
            <div class="col-4 offset-1">
                <%- responsiveImage('/img/square.jpg', 'Pink square placeholder', '', '', 'class="img-fluid"') %>
            </div>
            <div class="col-4 offset-2">
                <div class="d-flex flex-column align-items-start justify-content-between reference">
                    <div class="description">
                        <h2 class="h1">1st ISO</h2>
                        <p>
                            Links the best from Czech educational system together with international mindedness and multicultural
                            approach. Did that with RMBR, attended workshops with the #friendsnotclients and delivered a
                            new presentation, which reflects the unique style of teaching.
                        </p>
                    </div>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-4 offset-1">
                <div class="d-flex flex-column align-items-start justify-content-between reference">
                    <div class="description">
                        <h2 class="h1">CustomerCon</h2>
                        <p>
                            Pavel Telicka is married with two children. He is keen on sports; rugby, fitness, cross-country skiing
                            and biking. Apart from his personal life, he’s also the vice-president of the European Parliament.
                        </p>
                    </div>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
            <div class="col-4 offset-2">
                <%- responsiveImage('/img/square.jpg', 'Pink square placeholder', '', '', 'class="img-fluid"') %>
            </div>
        </div>
    </div>
</section>
<% include components/lets-talk %>
