<section class="section section--statement section--vertical-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <span class="h1 d-block">We do web development <br> and others say we do it <br> freaking well.</span>
            </div>
        </div>
    </div>
    <div class="container section__container--bottom-right d-flex justify-content-end">
        <a href="#" class="btn-scroll-down">
            <i class="icon icon-lg icon-arrow-down"></i>
        </a>
    </div>
</section>
<section class="section">
    <div class="container process">
        <div class="row process-step-heading">
            <div class="col-12 col-lg-10 offset-lg-1">
                <h2 class="h1 mb-5">Our process</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-9 offset-2 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div class="row mt-4">
                    <div class="col-md-6">
                        <h3 class="h2">Hello</h3>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-12 col-sm-6">
                        <p>
                            We want to know you too – let's meet and understand each other's needs. When we're done chatting, we'll
                            agree on an estimate of time and price.
                        </p>
                    </div>
                    <div class="col-6 d-none d-sm-flex flex-column justify-content-center align-items-center">
                        <i class="icon icon-level-down"></i>
                    </div>
                </div>
                <div class="row mt-4 process-step-heading">
                    <div class="col-12 col-sm-6 offset-sm-6">
                        <h3 class="h2">Development</h3>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-6 d-none d-sm-flex flex-column justify-content-center align-items-center">
                        <i class="icon icon-level-down text-primary flip-x"></i>
                    </div>
                    <div class="col-sm-6">
                        <p>
                            Your users are the center of our universe. We'll do everything to make the experience for your user
                            lightning fast and delightful.
                        </p>
                    </div>
                </div>
                <div class="row mt-4 process-step-heading">
                    <div class="col-12 col-sm-6">
                        <h3 class="h2">Review</h3>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-sm-6">
                        <p>
                            One of your roles is to give us feedback on what you like and don't like. This will happen very often
                            until we're both satisfied with the end product.
                        </p>
                    </div>
                    <div class="col-6 d-none d-sm-flex flex-column justify-content-center align-items-center">
                        <i class="icon icon-level-down flip-y text-primary"></i>
                    </div>
                </div>
                <div class="row mt-4 process-step-heading">
                    <div class="col-12 col-sm-6 offset-sm-6">
                        <h3 class="h2">Our friendship goes on</h3>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-6 d-none d-sm-flex flex-column justify-content-start align-items-center">
                        <i class="icon icon-level-down point-right"></i>
                    </div>
                    <div class="col-sm-6">
                        <p>
                            Our journey doesn't end there. We want to know how you're doing, go for a drink once in a while and
                            help you grow!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section--dark">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="h1">
                    See how we've <br> helped others.
                </h2>
                <a href="/portfolio" class="btn btn-outline-secondary">Portfolio</a>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="h1 mb-5">What we can do for you</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="h2">Frontend development</h3>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 col-sm-5 mb-4">
                <p class="mb-0">
                    Frontend is the interaction between you and your users, therefore it has to be fast and without any
                    hiccups. We achieve that by using the latest technologies and making sure users can easily find you
                    and access your services under any circumstances. We also invest time in testing, so nothing breaks
                    on your user's way to successful conversion.
                </p>
            </div>
            <div class="col-12 col-sm-5 offset-sm-1">
                <ul class="list-2-columns">
                    <li>HTML5</li>
                    <li>HAML</li>
                    <li>SASS</li>
                    <li>EcmaScript7</li>
                    <li>WebGL</li>
                    <li>Gulp/Grunt</li>
                    <li>Webpack</li>
                    <li>Templating engines</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="h2">Backend development</h3>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 col-sm-5 mb-4">
                <p>
                    Backend is where things happen – nobody likes content that takes forever to load. It has to be easy
                    to understand and work on in the future for other developers – saving you time and money. We test our
                    backend to make sure it doesn't break in case of unexpected events.
                </p>
            </div>
            <div class="col-12 col-sm-4 offset-sm-1">
                <ul class="list-2-columns">
                    <li>Node.js</li>
                    <li>Express</li>
                    <li>Koa</li>
                    <li>PHP</li>
                    <li>Nette</li>
                    <li>MySQL</li>
                    <li>MongoDB</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="h2">Hosting</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-5">
                <p>
                    Hosted in Central Europe, our content loads quickly across the whole continent. The servers are regularly
                    backed up for your peace of mind. Rapidly growing projects are no issue, our servers scale as your project
                    does.
                </p>
            </div>
        </div>
    </div>
</section>
<%- include components/lets-talk %>
