<section class="section section--statement section--vertical-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <span class="h1 d-block">We want a world without <br> stupid digital solutions.</span>
                <p>
                    We fight against user's frustration and give birth to great experiences, <br>
                    so you can focus on doing what you do the best.
                </p>
            </div>
        </div>
    </div>
    <div class="container section__container--bottom-right">
        <div class="row d-flex justify-content-end">
            <a href="#" class="btn-scroll-down">
                <i class="icon icon-lg fas fa-arrow-down"></i>
            </a>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-10 offset-md-1">
                <h2 class="h1 mb-4">This is us</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h3>David</h3>
                <%- responsiveImage('/img/doge.jpg', 'doge wow') %>
            </div>
        </div>
    </div>
</section>
